.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
  transition: 0.25s;
  background: #2d2d2d;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  color: white;
  &:hover {
    backface-visibility: hidden;
    transform: scale(1.05);
    transform: translateZ(0);
    // padding: 20px 10px 10px 20px;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.12), 0 5px 26px rgba(0, 0, 0, 0.24);
  }
}

.prj_heading {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
}

.prj_title {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin: 12px 0px 10px;
  border: 2px solid #fff;
}
.description {
  font-size: 14px;
  text-align: justify;
}
.link {
  text-decoration: none;
  color: unset;
}
