$light_bg: #f1f1f1;
$secondary_color: #ea5455;
$card_light_bg: #f4f4f4;
$hover_grey: #e4e4e4;
$white: #fff;
$light_text: #1c1c1c;

//Dark Mode Colors
$dark_bg: #1c1c1c;
$dark_bg2: #3c3c3c;
$dark_bg3: #111;
$dark_para: #777777;
$dark_heading: #fff;
