@import "../styles/_colors.scss";

.posts {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.post {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background: $card_light_bg;
  max-width: 300px;
  transition: 0.25s background;
  a {
    color: $dark_bg;
    padding: 1px;
    text-decoration: none;
  }
  h2 {
    margin: 10px 0 0;
    font-weight: 400;
  }
  p {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 5px;
  }
  .excerpt {
    font-style: normal;
    font-size: 12px;
  }
  &:hover {
    background: $hover_grey;
  }
}
.featured_img {
  border-radius: 10px 10px 0 0;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  margin: 0 auto;
  display: block;
}
