.header {
  background-color: white;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  .contentWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1050px;
    padding: 0 1rem;
    background: #fff;
  }
  .logoName {
    color: #ea5455;
    padding: 20px 0;
    transition: 0.25s;
    font-family: "Kristi", cursive;
    font-weight: bold;
    &:hover {
      background-color: #4d4d4d;
      color: white;
      padding-right: 20px;
    }
  }
}

.link {
  color: #999999;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.navList {
  display: flex;
  list-style-type: none;
  margin: auto 20px;
  &:li {
    margin: 0;
  }
}
.nav-item {
  color: #999999;
  font-size: 0.9rem;
  margin: 0 1.3rem 0 0;
  text-decoration: none;
  &:hover {
    color: #666666;
  }
}

.active-nav-item {
  color: #333333;
}
