.container {
  margin: 0 auto;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @media screen and (max-width: 1300px) {
    max-width: 650px;
    @media screen and (max-width: 800px) {
      max-width: 450px;
    }
    @media screen and (max-width: 450px) {
      max-width: 320px;
    }
  }
}
.padding {
  padding: 130px 1rem 0;
}

.content {
  flex-grow: 1;
}
